
.footer {
    padding-top: 100px;
    background: $bg-cl;
    .container {
        max-width: 1030px;
    }
    &__main {
        width: 100%;
        text-align: center;
        display: inline-block;
        position: relative;
        color: $white-cl;
        .logo {
            padding: 0 27px;
            @include midflex();
            .line {
                width: 40%;
                height: 1px;
                background: #caa348;
                display: inline-block;
            }
            img {
                margin: auto;
                padding: 0 20px;
            }
        }
        .info {
            text-align: center;
            padding: 40px 0 120px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 11px;
            p {
                margin: 0 0 15px;
            }
        }
        .backtop {
            position: absolute;
            right: 0px;
            bottom: 13px;
            height: 240px;
            cursor: pointer;
            &:hover {
                .line {
                    top: -14px;
                    transition: 0.5s;
                }
            }
            .line {
                width: 1px;
                height: 140px;
                background: #caa348;
                position: relative;
                top: 0;
                margin: 0 auto 30px;
                transition: 0.5s;
            }
            span {
                letter-spacing: 1px;
                font-size: 11px;
                text-transform: uppercase;
                display: block;
                transform: rotate(270deg);
            }
        }
    }



    @include desktop {

    }
    @include tablet {
    
    }
    @include mobile {
        padding-top: 30px;
        &__main {
            .info {
                font-size: 11px;
                padding: 20px 7% 100px;
            }
            .backtop {
                right: -23px;
                bottom: -20px;
            }
        }
    }
    @include mobile-xxs {
        
    }
}