

.about {
    padding: 100px 0;
    .container {
        max-width: 1030px;
    }
    &__top {
        h2 {
            font-size: 44px;
            font-family: EB;
            line-height: 32px;
            color: #705b32;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        .text {
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            margin-top: 30px;
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 20px;
        }
        .text-w {
            width: 666px;
            max-width: 100%;
            margin: auto;
            text-align: center;
            padding: 30px 0;
            letter-spacing: 1px;
            font-size: 13px;
            line-height: 28px;
        }
    }
    &__content {
        &--img {
            img {
                width: 100%;
            }
        }
        p {
            width: 666px;
            max-width: 100%;
            margin: auto;
            text-align: center;
            padding: 30px 0;
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 46px;
        }
        .line {
            width: 2px;
            height: 200px;
            margin: 0 auto;
            background: #ddd;
        }
    }
    .bottom-line {
        padding: 40px 0;
        .text {
            padding-right: 100px;
            font-size: 14px;
            line-height: 36px;
            text-transform: none;
            p {
                padding-bottom: 20px;
            }
        }
        .image {
            img {
                width: 100%;
            }
        }
    }
    .info {
        padding: 50px 0;
        text-align: center;
        .text {
            width: 666px;
            max-width: 100%;
            margin: auto;
            p {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 1px;
            }
        }
        &-img {
            .image {
                margin-top: 20px;
                width: 100%;
            }
            h3 {
                font-size: 14px;
                text-transform: uppercase;
                line-height: 26px;
                margin: 30px 0 10px;
            }
        }
    }
    .contact-box {
        width: 60%;
        text-align: center;
        margin: auto;
        p {
            padding: 10px 0 20px;
            font-size: 13px;
            font-family: arial;
            line-height: 26px;
            color: #1d1d1d;
            text-transform: none;
            font-style: italic;
        }
    }






    @include tablet {
        &__top {
            .text-w , .text {
                width: 500px;
                margin: auto;
            }
            .text {
                margin-top: 30px;
            }
        }
        &__content {
            p {
                width: 500px;
            }
        }
        .info {
            .text {
                width: 500px;
            }
        }
        .contact-box {
            width: 65%;
        }
    }
    @include mobile {
        padding-top: 130px;
        &__top {
            h2 {
                font-size: 28px;
            }
            .text {
                width: auto;
                margin-top: 10px;
            }
        }
        .bottom-line {
            .text {
                padding: 0;
                text-align: center;
            }
        }
        .info {
            &-img {
                img {
                    width: 100%;
                }
            }
        }
    }
    @include mobile-xxs {
        .info {
            padding: 20px 0;
        }
        .contact-box {
            width: 85%;
        }
    }
}