
.header_news {
    height: 72px;
    .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        border-bottom: 1px solid #ddd;
        background: $white-cl;
        z-index: 901;
        &-left {
            @include midflex;
        }
        &-right {
            @include midflex;
            img {
                transform: rotate(180deg);
                padding-right: 20px;
            }
            span {
                padding: 0 0 0 20px;
            }
        }
    }


    
    @include mobile {
        .detail {
            display: none;
        }
    }
    
}



.news_detail {
    padding: 50px 0;
    .container {
        max-width: 1030px;
        .news-img {
            img {
                width: 100%;
            }
        }
        .news-content {
            width: 700px;
            max-width: 100%;
            h2 {
                font-size: 20px;
                line-height: 32px;
                color: $text-black-cl;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 20px 0 10px;
                font-family: EB;
            }
            h3 {
                font-size: 12px;
                line-height: 22px;
                color: $text-black-cl;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }
            p {
                font-size: 12px;
                line-height: 22px;
                color: $text-cl;
                text-transform: none;
                letter-spacing: 1px;
                padding: 12px 0;
                font-style: italic;
            }
            .des {
                line-height: 22px;
                letter-spacing: 0.5px;
                font-size: 12px;
                text-transform: none;
                color: $text-cl;
            }
        }
        .more {
            margin-top: 100px;
            .title {
                @include midflex;
                .line {
                    width: 40%;
                    height: 1px;
                    background: #caa348;
                    display: inline-block;
                }
                p {
                    margin: auto;
                    padding: 0 20px;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 22px;
                }
            }
            .item {
                margin-top: 50px;
                .image {
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.1);
                            transition: 0.5s;
                        }
                    }
                }
                h2 {
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 20px 0 10px;
                    letter-spacing: 1px;
                    transition: 0.5s;
                }
                .des {
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: none;
                    letter-spacing: 0.5px;
                    margin: 0;
                    padding-bottom: 20px;
                }
                .col-md-4 {
                    &:hover {
                        h2 {
                            color: $yl-cl;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }


    @include desktop {
        .container {
            .news-content {
                margin: auto;
            }
        }
    }
    @include tablet {
        .container {
            .more {
                .title {
                    .line {
                        width: 35%;
                    }
                }
            }
        }
    }
    @include mobile {
        padding-top: 20px;
        .container {
            .more {
                .title {
                    .line {
                        width: 24%;
                    }
                }
            }
        }
    }
    @include mobile-xxs {
        .container {
            .more {
                .title {
                    .line {
                        width: 16%;
                    }
                }
            }
        }
    }
}

