
.header {
    .header-while {
        a {
            color: $white-cl;
        }
    }
}

.page-product {
    background: url(../img/page-product-01.png) no-repeat center center;
    background-size: cover;
    height: 450px;
    .container {
        max-width: 1030px;
        h3 {
            width: 50%;
            font-size: 24px;
            line-height: 50px;
            letter-spacing: 1px;
            color: $white-cl;
            text-transform: uppercase;
            float: right;
            padding-top: 140px;
            margin: 0;
            font-family: EB;
        }
    }

    
    @include tablet {
        height: 350px;
        .container {
            h3 {
                width: 65%;
                padding-top: 100px;
            }
        }
    }
    @include mobile {
        .container {
            h3 {
                width: 100%;
                padding-top: 144px;
                font-size: 18px;
                line-height: 34px;
                text-align: center;
            }
        }
    }
    
}


.section-product {
    margin: 50px 0;
    .container {
        max-width: 1030px;
        .caption {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
            .content {
                display: flex;
                align-items: center;
                .number {
                    span {
                        font-size: 90px;
                        color: #c48b2c;
                        font-family: EB;
                    }
                }
                .text {
                    padding-left: 20px;
                    width: 700px;
                    h2 {
                        font-size: 18px;
                        line-height: 32px;
                        color: $text-cl;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin: 0;
                        font-family: EB;
                    }
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        color: $text-cl;
                        text-transform: none;
                        letter-spacing: 1px;
                    }
                }
            }
            .all {
                span {
                    text-transform: uppercase;
                    font-size: 12px;
                    padding-left: 15px;
                    font-weight: bold;
                }
                img {
                    transition: 0.5s;
                }
                &:hover {
                    img {
                        transform: translateX(15px);
                        transition: 0.5s;
                    }
                }
            }
        }
        .owl-carousel {
            width: 100%;
            .product-item {
                .product-img {
                    width: 100%;
                    overflow: hidden;
                    img {
                        height: 270px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.1);
                            transition: 0.5s;
                        }
                    }
                }
                h3 {
                    font-size: 18px;
                    margin: 10px 0;
                    line-height: 40px;
                    transition: 0.5s;
                }
                p {
                    margin-bottom: 20px;
                    font-size: 12px;
                }
                span {
                    text-transform: uppercase;
                    font-size: 12px;
                    padding-left: 15px;
                    font-weight: bold;
                }
                
                .view-detail {
                    display: flex;
                    align-items: center;
                    img {
                        width: auto;
                    }
                }
                &:hover {
                    h3 {
                        color: $yl-cl;
                        transition: 0.5s;
                    }
                } 
            }
            .owl-nav , .owl-dots {
                display: none;
            }
        }
        hr {
            width: 100%;
            margin: 50px 0;
        }
    }

    
    @include tablet {
        .container {
            .caption {
                .content {
                    .text {
                        width: 500px;
                    }
                }
            }
            .owl-carousel {
                .product-item {
                    .product-img {
                        img {
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
    @include mobile {
        .container {
            .caption {
                display: block;
            }
            .all {
                text-align: right;
            }
        }
    }
    
}