
.header_news {
    @include desktop {
        .menu {
            display: none;
        }
    }
}

.product__detail {
    .container {
        max-width: 1030px;
        .product-img {
            img {
                width: 100%;
            }
        }
        .gallery-w {
            padding: 40px 18px 40px 0;
        }
        .info-m {
            padding-left: 18px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-left: 1px solid #ddd;
            h2 {
                font-size: 32px;
                line-height: 40px;
                color: $text-cl;
                font-family: EB;
            }
            .price {
                font-size: 12px;
                line-height: 54px;
                color: #5b4816;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }
            .des {
                padding-top: 10px;
                font-size: 13px;
                color: $text-cl;
                letter-spacing: 1px;
                line-height: 22px;
                h4 {
                    font-size: 13px;
                    line-height: 18px;
                    color: $text-cl;
                    margin: 4px 0;
                    letter-spacing: 1px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        .product-relate {
            margin-top: 50px;
            h4 {
                text-transform: uppercase;
                font-size: 18px;
                margin: 10px 0;
                text-align: center;
                line-height: 40px;
            }
            .item {
                .image {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.1);
                            transition: 0.5s;
                        }
                    }
                }
                h2 {
                    font-size: 18px;
                    line-height: 24px;
                    margin: 20px 0 10px;
                    transition: 0.5s;
                }
                h3 {
                    font-size: 12px;
                    line-height: 24px;
                    color: #1d1d1d;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding-bottom: 20px;
                }
                .view-detail {
                    display: flex;
                    align-items: center;
                    img {
                        width: auto;
                    }
                }
                &:hover {
                    h2 {
                        color: $yl-cl;
                        transition: 0.5s;
                    }
                }
            }
            
        }
        .line {
            width: 100%;
            height: 1px;
            background: #ddd;
            margin: 50px 0;
        }
        .contact-box {
            width: 60%;
            text-align: center;
            margin: 60px auto;
            h4 {
                font-size: 14px;
                line-height: 24px;
                color: #1d1d1d;
                text-transform: uppercase;
                margin: 10px 0;
                font-family: EB;
            }
            p {
                padding: 10px 0 20px;
                font-size: 12px;
                line-height: 20px;
                color: #1d1d1d;
                letter-spacing: 1px;
            }
        }
    }
    .line {
        width: 100%;
        height: 1px;
        background: #ddd;
    }


    
    @include tablet {
        .container {
            .product-relate {
                h4 {
                    margin: 10px 0 30px;
                }
            }
        }
    }
    @include mobile {
        .container {
            .gallery-w {
                padding: 20px 10px;
            }
            .info-m {
                padding-top: 10px;
            }
            .product-relate {
                .owl-nav , .owl-dots {
                    display: none;
                }
            }
            .contact-box {
                width: 81%;
            }
        }
    }
    @include mobile-xxs {
        .container {
            .contact-box {
                width: 100%;
            }
        }
    }
}